body {
    background-color: #f1eeee;
}

.login-container {
    margin-top: 300px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.col-md-6 {
    max-width: 350px;
}

.img-logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}