{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="{% static 'main_chat/css/chat_style.css' %}">
</head>
<body>

<div class="container">
    <div class="row justify-content-center chat-container">
        <div class="col-md-6">
            <div class="logo">
                <img class="img-logo" src="{% static 'main_chat/images/bot.png' %}" alt="">
                <h1 class="logo-text">SynthiaBot</h1>
            </div>
            <div class="header">
                {% if get_history %}
                    <a href="{% url 'chat:delete' %}"><button class="btn btn-danger float-left"><i class="fas fa-trash-alt"></i> Delete Chat</button></a>
                {% endif %}
                <a href="{% url 'chat:chat' %}"><button class="btn btn-light mx-auto"><i class="fas fa-font"></i> Text</button></a>
                <button class="btn btn-light mx-auto"><i class="fas fa-image"></i> Image</button>
                <a href="{% url 'users:logout' %}"><button class="btn btn-primary float-right"><i class="fas fa-sign-out-alt"></i> Log Out</button></a>
                <div class="clearfix"></div>
            </div>
            <div class="chat-box">
                <div class="message user2">
                    <div class="fw-bold">
                        <i class="fas fa-robot"></i> <strong>Bot</strong>
                    </div>
                    <p>Hi {{request.user.username}} 👋, Let's Talk!🤖</p>
                </div>
                {% for history in get_history %}
                    <div class="message user1">
                        <div class="fw-bold">
                            <i class="fas fa-user"></i> <strong>{{ history.user.username }}</strong>
                        </div>
                        <p>{{ history.messageInput }}</p>
                    </div>

                    <div class="message user2">
                    <div class="fw-bold">
                        <i class="fas fa-robot"></i> <strong>Bot</strong>
                    </div>
                    <p>{{ history.bot_response }}</p>
                </div>
                {% endfor %}
            </div>

            <form action="" method="post">
                {% csrf_token %}
                <label for="input" class="form-label">Enter your prompt</label>
                <div class="input-box">
                    <textarea class="form-control" id="input" placeholder="Type a prompt..." name="user-input" style="min-height: 10px; resize: none;"></textarea>
                    <button class="btn btn-primary" type="submit" style="height: 61px;"><i class="fas fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
