{% extends 'main_chat/base.html' %}
{% load static %}

{% block title %}
    Chat Image Page
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_chat/css/chat_style.css' %}">
{% endblock %}

{% block delete-button %}
    {% if get_history %}
        <a href="{% url 'chat:delete_images' %}">
            <button class="btn btn-danger float-left"><i class="fas fa-trash-alt"></i> Delete Chat</button>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="chat-box">
        <div class="message user2">
            <div class="fw-bold">
                <i class="fas fa-robot"></i> <strong>Bot</strong>
            </div>
            <p>Hi {{ request.user.username }} 👋, Let's Talk and Generate Images!🤖</p>
        </div>
        {% for history in get_history %}
            <div class="message user1">
                <div class="fw-bold">
                    <i class="fas fa-user"></i> <strong>{{ history.user.username }}</strong>
                </div>
                <p>{{ history.messageInput }}</p>
            </div>

            <div class="message user2">
                <div class="fw-bold">
                    <i class="fas fa-robot"></i> <strong>Bot</strong>
                </div>
                <div class="image-container">
                    <img src="{{ history.bot_image.url }}" alt="" class="centered-and-resized-image">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}