{% extends 'users/base.html' %}
{% load static %}

{% block title %}
   Login Page
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'users/css/login_register_style.css' %}">
{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="row justify-content-center login-container">
        <div class="col-md-6">
            <div class="logo">
                <img class="img-logo" src="{% static 'main_chat/images/bot.png' %}" alt="Your Logo Here">
                <h2>Please Log In</h2>
            </div>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </form>
            <p class="signup-link">Not have an account? <a href="#">Sign Up</a></p>
        </div>
    </div>
</div>
{% endblock %}